[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
"bs4" = "*"
certifi = "*"
chardet = "*"
"flake8" = "*"
idna = "*"
isort = "*"
kiwisolver = "*"
matplotlib = "*"
mccabe = "*"
numpy = "*"
pycodestyle = "*"
pyflakes = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
"urllib3" = "*"
Cycler = "*"
scrapy = "*"
pandas = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.6"
